body {
    background-color: #fafafa;
    /* height: 100%; */
    border: black;
    margin: 20px;
}

.dino {
    width: 60px;
    height: 60px;
    background: url(img/dino.png);
    position: absolute;
    bottom: 0;
}

.hide {
    display: none;
}

.background {
    position: absolute;
    background: url(img/background.png);
    bottom: 0;
    background-repeat: repeat-x;
    animation: slideright 600s infinite linear;
    width: 100%;
    height: 200px;
}

.cactus {
    width: 60px;
    height: 60px;
    background: url(img/cactus.png);
    position: absolute;
    bottom: 0;
}

.game-over {
    text-align: center;
    color: #666;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    width: 200px;
    height: 50px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    background-color: #666;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

button:hover {
    color: #666;
    background-color: #e0d9d9;
}

@keyframes slideright {
    from {
        background-position: 70000%;
    }

    to {
        background-position: 0;
    }
}