.flex-container {
    max-width: 350px;
    height: 300px;
    border: 1px solid black;
    display: flex;
    margin-bottom: 20px;
}

.align-container {
    align-items: center;
}

.column {
    flex-direction: column;
}

.item {
    flex: 1;
    background-color: orangered;
    color: white;
    font-size: 24px;
    text-align: center;
    margin: 5px
}

.center {
    align-self: center;
}

.start {
    align-self: flex-start;
}

.end {
    align-self: flex-end;
}

.baseline {
    align-self: baseline;
}

.stretch {
    align-self: stretch;
}

.auto {
    align-self: auto;
}